### Source code ###

For access to the current development sources of GDC, visit
[our git repository][gitrepo]. Build instructions are available on [this wiki page][installwiki].

### Linux distribution packages ###
Official packages are available for these linux distributions:
 * [Arch Linux][archpkg]
 * [Debian][debianpkg]
 * [Ubuntu][ubuntupkg]

### Binary releases ###

This page contains native and cross compilers. A native compiler creates executables for the system it runs on.
A cross-compiler runs on 'host' and generates code for 'target'. The headings on this page specify the compiler 'host',
the entries in the Target column specify the 'target'.

{{#Host}}
#### {{name}} ({{triplet}}) ####
<div class="page-header">
{{#DownloadSet}}
  <table class="table table-striped">
    <tr class="panel-title">
      <td colspan="9">{{name}}</td>
    </tr>
    <tr>
      <th>{{targetHeader}}</th>
      <th>Comment</th>
      <th>DMDFE</th>
      <th>Runtime</th>
      <th>GCC</th>
      <th>Multilib</th>
      <th>GDC revision</th>
      <th>Build Date</th>
      <th></th>
    </tr>
{{#DownloadEntry}}
    <tr>
      <td>{{target}}</td>
      <td>{{comment}}</td>
      <td>{{dmdFE}}</td>
      <td>{{runtime}}</td>
      <td>{{gcc}}</td>
      <td>{{{multilib}}}</td>
      <td>{{gdcRev}}</td>
      <td>{{buildDate}}</td>
      <td><a href="{{url}}">Download</a></td>
    </tr>
{{/DownloadEntry}}
    <tr>
      <td colspan="8"></td>
      <td><a href="{{archiveURL}}">Release&nbsp;archive</a></td>
    </tr>
  </table>
{{/DownloadSet}}
</div>
{{/Host}}



### Special toolchains ###
#### devkitARM ####

DevkitARM is part of the [devkitPro][dkPro] project and provides
a toolchain to build executables for ARM based video game devices
such as GBA, DS, DSi and 3DS devices. These packages are addons to
devkitARM and require a full devkitARM installation. See the included
README file for more information.

{{#devkitARM}}
<div class="page-header">
  <table class="table table-striped">
    <tr class="panel-title">
      <td colspan="7"></td>
    </tr>
    <tr>
      <th>Filename</th>
      <th>Comment</th>
      <th>DMDFE</th>
      <th>Runtime</th>
      <th>GDC revision</th>
      <th>Build Date</th>
      <th></th>
    </tr>
{{#DownloadEntry}}
    <tr>
      <td>{{filename}}</td>
      <td>{{comment}}</td>
      <td>{{dmdFE}}</td>
      <td>{{runtime}}</td>
      <td>{{gdcRev}}</td>
      <td>{{buildDate}}</td>
      <td><a href="{{url}}">Download</a></td>
    </tr>
{{/DownloadEntry}}
    <tr>
      <td colspan="6"></td>
      <td><a href="ftp://ftp.gdcproject.org/binaries/devkitARM">Release&nbsp;archive</a></td>
    </tr>
  </table>
</div>
{{/devkitARM}}


#### devkitPPC ####

DevkitPPC is part of the [devkitPro][dkPro] project and provides
a toolchain to build executables for PPC based video game devices
such as Gamecube, Wii and WiiU devices. These packages are addons to
devkitPPC and require a full devkitPPC installation. See the included
README file for more information.

{{#devkitPPC}}
<div class="page-header">
  <table class="table table-striped">
    <tr class="panel-title">
      <td colspan="7"></td>
    </tr>
    <tr>
      <th>Filename</th>
      <th>Comment</th>
      <th>DMDFE</th>
      <th>Runtime</th>
      <th>GDC revision</th>
      <th>Build Date</th>
      <th></th>
    </tr>
{{#DownloadEntry}}
    <tr>
      <td>{{filename}}</td>
      <td>{{comment}}</td>
      <td>{{dmdFE}}</td>
      <td>{{runtime}}</td>
      <td>{{gdcRev}}</td>
      <td>{{buildDate}}</td>
      <td><a href="{{url}}">Download</a></td>
    </tr>
{{/DownloadEntry}}
    <tr>
      <td colspan="6"></td>
      <td><a href="ftp://ftp.gdcproject.org/binaries/devkitPPC">Release&nbsp;archive</a></td>
    </tr>
  </table>
</div>
{{/devkitPPC}}

[gitrepo]: https://github.com/D-Programming-GDC/GDC
[installwiki]: http://wiki.dlang.org/GDC/Installation
[archpkg]: https://www.archlinux.org/packages/?sort=&arch=i686&arch=x86_64&q=gdc
[debianpkg]: https://packages.debian.org/search?keywords=gdc&searchon=names&suite=all&section=all
[ubuntupkg]: http://packages.ubuntu.com/search?keywords=gdc&searchon=names&exact=1&suite=all&section=all
[dkPro]: https://devkitpro.org/
