body {
  height: 100%;
  color: #373737;
  background: #f8f8f8;
}
footer {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 40px;
  border-top: 1px solid #dd0000;
  font-style: italic;
}
.h1, h1 {
  font-size: 48px;
}
.h2, h2 {
  font-size: 36px;
}
.h3, h3 {
  font-size: 24px;
  line-height: 28px;
  border-top: 1px solid #dd0000;
  padding-top: 8px;
}
.h4, h4 {
  font-size: 20px;
  font-weight: bold;
  border-bottom: 1px dotted #dd0000;
  padding-top: 8px;
  padding-bottom: 8px;
}
.h5,h5{
  font-size:16px;
  font-weight: bold;
}
.h6,h6{
  font-size:14px;
  font-weight: bold;
}
hr {
  border-top: 1px dotted #dd0000;
}
a {
  color: #0066bb;
}
a:hover {
  color: #ff8c00;
  text-decoration:underline;
}
/*----------------------------------------------------------------------*/
.navbar-collapse > .navbar-nav > .nav-link {
  color: #2f4f4f;
  font-size: 18px;
  position: relative;
  letter-spacing: -0.35px;
}
.navbar-collapse > .navbar-nav > .nav-link:before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0;
  left: 0;
  height: 2px;
  margin: 1px 0 0;
  opacity: 0;
  background-color: #2f4f4f;
}
.navbar-collapse >.navbar-nav > .nav-link:hover {
  color: #dd0000;
  cursor: pointer;
}
.navbar-collapse >.navbar-nav > .nav-link:hover:before {
  background-color: #dd0000;
  width: 100%;
  opacity: 1;
}
.navbar-collapse >.navbar-nav > .nav-link.active:before {
  background-color: #dd0000;
  width: 100%;
  opacity: 1;
}
.dropdown-item {
  font-weight: bold;
  font-size: 18px;
}
.dropdown-item:focus {
  background-color: #333840;
}
.navbar-brand > img {
  width: 210px;
}
@media only screen and (max-width: 400px) {
  .navbar-brand > img {
    width: 180px;
  }
}
@media only screen and (max-width: 350px) {
  .navbar-brand > img {
    width: 150px;
  }
}
@media only screen and (max-width: 300px) {
  .navbar-brand > img {
    width: 120px;
  }
}
@media only screen and (max-width: 250px) {
  .navbar-brand > img {
    width: 90px;
  }
}
/*----------------------------------------------------------------------*/
nav.toc:not(:empty):before {
  content: "Table of Contents";
  color: #2f4f4f;
  font-weight: bold;
  width: 100%;
  border-bottom: 1px solid #dd0000;
  display: block;
}
nav.toc > ul {
  list-style: none;
  padding-left: 0px;
}
nav.toc > ul a {
  color: #2f4f4f;
}
nav.toc > ul a:hover {
  color: #dd0000;
}
@media only screen and (min-width: 1520px) {
 nav.toc {
    position: fixed;
    top: 16px;
    padding-bottom: 16px;
    margin-left: -360px;
    width: 340px;
    height: calc(100% - 48px);
    max-height: calc(100% - 48px);
  }
}
@media only screen and (max-width: 1520px) {
  nav.toc {
    overflow: auto;
    padding: 8px;
  }
}
/*----------------------------------------------------------------------*/
.page-header {
  margin-top: 0px;
}
.panel-title > td {
  border-top: 0 !important;
  border-radius: 4px;
}
.table-striped {
  border: 1px solid #ddd;
  border-collapse: separate;
  border-radius: 4px;
  border-spacing: 0;
  padding: 1px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}
.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #f3f3f3;
}
